In [1]:
print("hello")

hello

In [ ]:
import pandas as pd

In [5]:
pd.DataFrame({"Name":["AB", "TS"],"Day":[23,10], "Month":[2,7], "Year":[85,88]})

  Name  Day  Month  Year
0   AB   23      2    85
1   TS   10      7    88

In [13]:
spotify = pd.read_csv("Datasets\SpotifyAnalysis\spotify_data_clean.csv")
spotify.shape

<>:1: SyntaxWarning: "\S" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\S"? A raw string is also an option.
<>:1: SyntaxWarning: "\S" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\S"? A raw string is also an option.
C:\Users\asus\AppData\Local\Temp\ipykernel_516\4170328436.py:1: SyntaxWarning: "\S" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\S"? A raw string is also an option.
  spotify = pd.read_csv("Datasets\SpotifyAnalysis\spotify_data_clean.csv")

(8582, 15)